@import "tailwindcss";

@font-face {
  font-family: "Satoshi-Variable";
  src: url("../src/assets/fonts/Satoshi-Variable.woff2") format("woff2"),
    url("../src/assets/fonts//Satoshi-Variable.woff") format("woff"),
    url("../src/assets/fonts//Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Enoch";
  src: url("../src/assets/fonts//ENOCH.woff") format("woff"),
    url("../src/assets/fonts//ENOCH.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@theme {
  /* colors */
  --color-cyberBlue: #0057b7;
  --color-ashGray: #cacacc;
  --color-dark: #080808;

  /* shadows */
  --shadow-card: 0px 5.97px 17.92px 0px #1018280a;
  --shadow-service: -1px 1px 0px white;

  /* breakpoints */
  --breakpoint-xs: 350px;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-llg: 1200px;
  --breakpoint-xl: 1440px;

  /* fonts */
  --font-enoch: Enoch;
}

:root {
  background: #080808;
  font-family: "Satoshi-Variable";
}

.footer-text {
  font-family: "Enoch";
}

@media screen and (min-width: 768px) {
  .rotate-text {
    writing-mode: vertical-lr;
  }
}
